<!--<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="tipoDocumento">Tipo de Documento</label>
    <select formControlName="tipoDocumento" id="tipoDocumento" class="form-control">
      <option value="" disabled selected>Seleccione un tipo</option>
      <option value="C">Cédula de Ciudadanía</option>
      <option value="P">Pasaporte</option>
    </select>
  </div>

  <div class="form-group">
    <label for="numeroDocumento">Número de Documento</label>
    <input type="text" formControlName="numeroDocumento" id="numeroDocumento" class="form-control">
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Buscar</button>
</form> -->

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card-content>
    <mat-form-field>
      <mat-label>Tipo de Documento</mat-label>
      <mat-select formControlName="tipoDocumento" required>
        <mat-option value="C">Cédula de Ciudadanía</mat-option>
        <mat-option value="P">Pasaporte</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Número de Documento</mat-label>
      <input matInput formControlName="numeroDocumento" [minlength]="8" [maxlength]="11" (keypress)="onlyNumberKey({event : $event})" required>
      <mat-error>Este campo es obligatorio</mat-error>
    </mat-form-field>
    <section>
      <div class="example-button-row">
        <button mat-flat-button  [disabled]="form.invalid">Basic</button>
      </div>
    </section>
  </mat-card-content>
  </form>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>


