<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle>DATOS DE USUARIO</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
     <mat-form-field appearance="outline">
       <mat-label>Nombre</mat-label>
       <input matInput placeholder="Placeholder" value="{{cliente.primerNombre}}" disabled>
     </mat-form-field>

     <mat-form-field appearance="outline">
       <mat-label>Segundo nombre</mat-label>
       <input matInput placeholder="Placeholder" value="{{cliente.segundoApellido}}" disabled>
     </mat-form-field>


     <mat-form-field appearance="outline">
       <mat-label>Primer Apellido</mat-label>
       <input matInput placeholder="Placeholder" value="{{ cliente.primerApellido }}" disabled>
     </mat-form-field>


     <mat-form-field appearance="outline">
       <mat-label>Segundo Apellido</mat-label>
       <input matInput placeholder="Placeholder" value="{{ cliente.segundoApellido }}" disabled>
     </mat-form-field>

     <mat-form-field appearance="outline">
       <mat-label>Documento</mat-label>
       <input matInput placeholder="Placeholder" value="23445322" disabled>
     </mat-form-field>

     <mat-form-field appearance="outline">
       <mat-label>Telefono</mat-label>
       <input matInput placeholder="Placeholder" value="{{ cliente.telefono }}" disabled>
     </mat-form-field>

     <mat-form-field appearance="outline">
       <mat-label>Direccion</mat-label>
       <input matInput placeholder="Placeholder"  value="{{ cliente.direccion }}" disabled>
     </mat-form-field>

     <mat-form-field appearance="outline">
       <mat-label>Ciudad de Residencia</mat-label>
       <input matInput placeholder="Placeholder"  value="{{ cliente.ciudadResidencia }}"  disabled>
     </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="volver()">Volver</button>
  </mat-card-actions>
</mat-card>
